.info {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  header {
    background: #776871 ;
    font-size: 30px;
  }

  .topnav {
    position: relative;
    background-color: #776871;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #776871;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #776871;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #554950;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  footer {
    background-color: #776871;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer p {
    font-size: 1.2em;
  }
  footer a {
    color: black;
    text-decoration: none;
  }
  footer a:hover {
    color: black;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  footer .social img {
    padding-top: 15px;
  }

